

.my-query-form .el-form-item {
  margin: 5px 5px;
}

.my-pagination .el-pager {
  margin-top: -1px;
}

.el-loading-mask {
  z-index: 9999;
}

.el-link.el-link--primary {
  --el-link-font-color: var(--el-color-primary);
  color: var(--el-link-font-color);
}